<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schattenrouting</title>
    <link rel="stylesheet" type=text/css href="/static/style.css">
    <link rel="icon" href="static/favicon.ico" type="image/x-icon"/>
    <script src="/static/js/moment.min.js"></script>
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript">$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}</script>
    <script src="/static/js/mymapscript.js"></script>
</head>
<body>

    <div id="map"></div>

    <div id="navigation">
        <h1>Schatten-Routing</h1>
        <div id="toggles">
            <button type="button" id="toggle_shortest">Toggle Shortest Path</button>
            <button type="button" id="toggle_shadiest">Toggle Shadiest Path</button>
            <button type="button" id="toggle_sunniest">Toggle Sunniest Path</button>
            <button type="button" id="toggle_bldg">Toggle Buildings</button>
            <button type="button" id="toggle_shadows">Toggle Shadows</button>
            <button type="button" id="toggle_routes">Toggle Graph</button>

        </div>
        <div id="coords">
            <h2>Navigation</h2>
            <form name="set_coords" action="/" method="POST">
                <table width="100%">
                    <tr>
                        <td class="table_left">From</td>
                        <td class="table_right"><input type="text" id="set_coords_start"></td>
                    </tr>
                    <tr>
                        <td class="table_left">To</td>
                        <td class="table_right"><input type="text" id="set_coords_end"></td>
                    </tr>
                </table>
                <button type="button" id="set_coords">Calculate Route</button>
            </form>
        </div>
        <div id="date">
            <h2>Date</h2>
            <form name="set_date" action="/" method="POST">
                <table width="100%">
                    <tr>
                        <td class="table_left">Date</td>
                        <td class="table_right">Time</td>
                    </tr>
                    <tr>
                        <td class="table_left"><input id="input_date" type="date" name="input_date"></td>
                        <td class="table_right"><input id="input_time" type="time" name="input_time"></td>
                    </tr>
                </table>
                <button type="button" id="set_date">Set Date</button>
            </form>
        </div>
        <div id="info">
            <h2>Info</h2>
            <table width="100%">
                <tr>
                    <td class="table_left">From:</td>
                    <td class="table_right" id="start_addr"></td>
                </tr>
                <tr>
                    <td class="table_left">To:</td>
                    <td class="table_right" id="end_addr"></td>
                </tr>
                <tr>
                    <td class="table_left">Date:</td>
                    <td class="table_right" id="date_label"></td>
                </tr>
                <tr>
                    <td class="table_left">Azimut:</td>
                    <td class="table_right" id="azimut"></td>
                </tr>
                <tr>
                    <td class="table_left">Elevation:</td>
                    <td class="table_right" id="elevation"></td>
                </tr>

            </table>
        </div>
        <div id="footer">Made by Alfred Melch | <a href="https://github.com/Fischerfredl/Schattenrouting" target="_blank">Source-Code</a></div>
    </div>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdSwma5Rv0hPcgHwPCzy59WbHIgJSZIMg&callback=initialize">
    </script>
</body>
</html>
